<div id="<%= dom_id room %>">
  <p>
    <strong>Name:</strong>
    <%= room.name %>
  </p>

  <p>
    <strong>Host:</strong>
    <%= room.host_id %>
  </p>

  <p>
    <strong>Player:</strong>
    <%= room.player_id %>
  </p>

</div>
