<center><div class="col-md-12 text-center">
    <%= form_with(remote: true, url: "/messages/show_button", method: 'post', class: "",
    data: { controller: "reset", action: "turbo:submit-end->reset#reset"} ) do |f| %>
       <%= f.hidden_field :room_id, value: room %>
        <%= f.submit 'Show', data: { disable_with: false }, class: "btn btn-lg btn-block btn-outline-primary", id: 'show_form_button' %>
    <% end %>
</div></center>