
<% if current_user.id == @room.host_id.to_i %>
    <% if @room.player_id.present? %>
        <div class="position-relative">
            <img src="<%= user_gravatar(@room.player) %>>" class="rounded-circle mr-1" alt="Player" width="40" height="40">
        </div>
        <div class="flex-grow-1 pl-3">
            <strong><%= @room.player.name %></strong>
            <div class="text-muted small"><em>Typing...</em></div>
        </div>
    <% else %>
        <div class="position-relative">
            <img src="https://airobolab.uni.lu/wp-content/uploads/sites/76/2021/09/LuxAI-Logo.jpeg" class="rounded-circle mr-1" alt="Player" width="40" height="40">
        </div>
        <div class="flex-grow-1 pl-3">
            <strong>Player is not joined yet</strong>
            <div class="text-muted small"><em>Please wait...</em></div>
        </div>
    <% end %>
<% elsif current_user.id ==  @room.player_id.to_i %>
    <% if @room.host_id.present? %>
    <div class="position-relative">
        <img src="<%= user_gravatar(@room.host) %>>" class="rounded-circle mr-1" alt="Host" width="40" height="40">
    </div>
    <div class="flex-grow-1 pl-3">
        <strong><%= @room.host.name %></strong>
        <div class="text-muted small"><em>Typing...</em></div>
    </div>
    <% else %>
    <div class="position-relative">
        <img src="https://airobolab.uni.lu/wp-content/uploads/sites/76/2021/09/LuxAI-Logo.jpeg" class="rounded-circle mr-1" alt="Host" width="40" height="40">
    </div>
    <div class="flex-grow-1 pl-3">
        <strong>Host is not joined yet</strong>
        <div class="text-muted small"><em>Please wait...</em></div>
    </div>
    <% end %>
<% end %>